@import "jcarousel";

.free-wall {
  margin: 15px;
}

.view-picture, .info-picture {
  img {
    width: 100%;
  }
  .panel {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
  }
}