%div{:style => "float: left; width:100%"}
  %div{:style => "float: left; width:200px; height: 100px; margin: 50px 0 50px 50px;  background: #828282;"}
    %strong
      %p{:style => "padding-left:10px;"} Users


  %div{:style => "float: left; width:600px; height: 100px; margin: 50px 0 50px 50px;  background: #828282;"}
    %strong
      %p{:style => "padding-left:10px;"} Evens
.clear