-#%br
-#- @pictures.each do |img|
-#  = link_to categories_picture_path(img.category.title, img.id) do
-#    %div{:style => "float:left;margin-right: 30px"}
-#      %p= "Like: #{img.likes_count.to_i}"
-#      %p= "Comments: #{img.comments_count.to_i}"
-#      %p= image_tag img.image(:thumb)