.row
  .col-lg-12
    = image_tag @picture.image(:large), class: 'center-block'
%hr
.row
  .col-lg-12
    .row
      - @pictures.each do |p|
        .col-sm-5.col-md-3
          = link_to p do
            = image_tag p.image.url(:medium), class: 'center-block', style: 'padding: 10px;'