/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_self
 * require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";

#modalOverlay {
    background-color:#000; /* Тут выбираем цвет затемнения */
    cursor:wait; /* Курсор при наведении на затемненную область */
    filter: alpha(opacity=80); /* Интенсивность затемнения */
    height: 100%;
}

#modalContainer {
    height:auto;  /* Для растягивания по высоте */
    width:300px;
    left:50%; /*в купе с margin-left, которая равна минус половине ширины центруют по горизонтали*/
    top:50%;  /*центрует по вертикали, вместе с margin-top, если задать высоту*/
    margin-left:-150px;
    /* margin-top: -70px; */
    background-color:#fff;
    border:3px solid #ccc;
    padding: 10px;
}
a.modalCloseImg {
    background:url(x.png) no-repeat;
    width:25px; /* Положение отличается от тех, что в примере. Мне кажется так удобнее */
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:0px;
    right:0px;
    cursor:pointer;
}

footer {
  background-color: #777;
  padding: 10px;
  border: 1px solid #555;
}

.free-wall {
  margin: 15px;
}

.brick img {
  margin: 0;
  display: block;
}