= form_for category, data: { remote: true } do |f|
  #error_explanation
    %ul

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', id: 'category_name',
      data: { autocomplete_source: searches_categories_path, remote: true }
  .actions
    = f.submit 'Save', class: 'btn btn-default'

