%h1 Listing categories

- @categories.each do |category|
  |
  = link_to category.name, category_pictures_path(category.id), class: 'category'

.i_modal_window
  %div
    %p
    = image_tag 'rails.png', id: 'rand_pict'
