%h1 Listing categories

- @categories.each do |category|
  |
  = link_to category.name, category_pictures_path(category.id), :class => "category"

.i_modal_window{:style => "display: none;"}
  %div
    %p
    = image_tag "#", :id => "rand_pict"
